doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/styles/home.css")
  body
    div.container
      h1 Welcome to ReserveWay
      p Book sports facilities with ease and reliability.
      div.actions
        a(href='/login') Login
        a(href='/register') Register
