doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/styles/login.css")
  body
    div.container
      h1 Login
      form(method='POST', action='/login')
        input(type='text', name='username', placeholder='Username', required)
        input(type='password', name='password', placeholder='Password', required)
        button(type='submit') Login
      if error
        p.error #{error}
